html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background: url(https://wallpapercave.com/wp/wp2514433.png);
    font-family: 'Montserrat', sans-serif;
    margin:auto;
    max-width:700px;
}